/* Navbar */
#navbar .logo {
    width: 10%;
}

#navbar .btn-outline-light:hover {
    color: black;
    background-color: white;
    border-color: black;
}

/* Home */
#home .card-background {
    background: linear-gradient(rgb(0, 4, 226), rgb(15, 144, 250), rgb(255, 255, 255));
    border-radius: 20px;
}

#home h2 {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-bottom: 15px;
}
#home h3 {
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
}

#home .btn-outline-light {
    color: white;
    font-weight: 550;
    background: linear-gradient(45deg, blue, rgb(15, 239, 255));
    border-color: white;
}
#home .btn-outline-light:hover {
    background: blue;
}